fastapi
uvicorn
uvloop
httptools
websockets
anyio
h11
sniffio

clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
torch
torchvision
numpy
pillow
regex
ftfy
tqdm

python-dotenv
python-multipart
PyYAML
pydantic
pydantic_core
annotated-types

httpx
httpcore
idna
certifi
urllib3
